<div class="dropdown">
    <button class="dropbtn">Cabinet Options
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href="/cabinets/<%= @cabinet.slug %>">Inventory table</a>
        <a href="/cabinets/new">Create New Cabinet</a>
        <a href="/cabinets/<%= @cabinet.slug %>/liquors/new">Add New Liquor</a>
        <a href="/cabinets/<%= @cabinet.slug %>/liquors">Liquor List</a>
    </div>
</div>

<h2><%= @liquor.name %></h2>


<p><strong>Par: </strong><em><%= @liquor.liquor_count %></em></p>
<p><strong>Price: </strong><em>$<%= @liquor.liquor_cost %></em></p>

<a href="/cabinets/<%= @cabinet.slug %>/liquors/<%= @liquor.slug %>/edit"><button>Edit</button></a>

<form method="POST" action="/cabinets/<%= @cabinet.slug %>/liquors/<%= @liquor.slug %>">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
</form>