<h2>Cabinet: <em><%= @cabinet.name %></em></h2>


<div class="dropdown">
    <button class="dropbtn">Cabinet Options
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href="/cabinets/<%= @cabinet.slug %>/liquors/new">Add New Liquor</a>
        <a href="/cabinets/new">Create New Cabinet</a>
        <a href="/cabinets/<%= @cabinet.slug %>/liquors">Liquor List</a>
    </div>
</div>


<table id="liquors" width="100%">
    <thead>
        <tr>
            <th colspan="3"><%= @cabinet.name %></th>
        </tr>
    </thead>
    
    <tbody>
        <tr>
            <th scope="col">Alcohol</th>
            <th scope="col">Par</th>
            <th scope="col">Price</th>
        </tr>

        
            <% @cabinet.liquors.each do |liquor| %>
                <tr>
                    <td scope="row"><%= liquor.name %></td>
                    <td><%= liquor.liquor_count %></td>
                    <td><%= liquor.liquor_cost %></td>
                </tr>
            <% end %>
        
    </tbody>
</table>    