<h2>Cabinet: <em><%= @cabinet.name %></em></h2>

<a href="/liquors/new"><button>New Liquor</button></a>
<a href="/cabinets/new"><button>Create New Cabinet</button></a>

<table>
    <thead>
        <tr>
            <th colspan="2"><%= @cabinet.name %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="col">Alcohol</th>
            <th scope="col">Par</th>
            <th scope="col">Price</th>
        </tr>

        <tr>
            <% @cabinet.liquors.each do |liquor| %>
                <th scope="row"><%= liquor.name %></th>
                <td><%= liquor.liquor_count %></th>
                <td><%= liquor.liquor_cost %></th>
            <% end %>
        </tr>
    </tbody>
</table>    